<a href="https://colab.research.google.com/github/abh22/Titanic/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:


dataset=pd.read_csv('/content/drive/MyDrive/titanic-passengers.csv',delimiter=';', encoding='utf-8')

In [ ]:


dataset.head()

   PassengerId Survived  Pclass                                         Name     Sex   Age  SibSp  Parch      Ticket     Fare  Cabin Embarked
0          343       No       2                   Collander, Mr. Erik Gustaf    male  28.0      0      0      248740  13.0000    NaN        S
1           76       No       3                      Moen, Mr. Sigurd Hansen    male  25.0      0      0      348123   7.6500  F G73        S
2          641       No       3                       Jensen, Mr. Hans Peder    male  20.0      0      0      350050   7.8542    NaN        S
3          568       No       3  Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0      4      349909  21.0750    NaN        S
4          672       No       1                       Davidson, Mr. Thornton    male  31.0      1      0  F.C. 12750  52.0000    B71        S

In [ ]:
print(dataset.info)

<bound method DataFrame.info of      PassengerId Survived  Pclass                                               Name     Sex   Age  SibSp  Parch      Ticket     Fare  Cabin Embarked
0            343       No       2                         Collander, Mr. Erik Gustaf    male  28.0      0      0      248740  13.0000    NaN        S
1             76       No       3                            Moen, Mr. Sigurd Hansen    male  25.0      0      0      348123   7.6500  F G73        S
2            641       No       3                             Jensen, Mr. Hans Peder    male  20.0      0      0      350050   7.8542    NaN        S
3            568       No       3        Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0      4      349909  21.0750    NaN        S
4            672       No       1                             Davidson, Mr. Thornton    male  31.0      1      0  F.C. 12750  52.0000    B71        S
..           ...      ...     ...                                                ...     ...   ...    ...    ...         ...      ...    ...      ...
886           10      Yes       2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0      237736  30.0708    NaN        C
887           61       No       3                              Sirayanian, Mr. Orsen    male  22.0      0      0        2669   7.2292    NaN        C
888          535       No       3                                Cacic, Miss. Marija  female  30.0      0      0      315084   8.6625    NaN        S
889          102       No       3                   Petroff, Mr. Pastcho ("Pentcho")    male   NaN      0      0      349215   7.8958    NaN        S
890          428      Yes       2  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female  19.0      0      0      250655  26.0000    NaN        S

[891 rows x 12 columns]>

In [ ]:
# @title adding missing values to age and embarked
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
average=dataset.Age.mean()
average

29.69911764705882

In [ ]:
average=(int(average))
average

29

In [ ]:
dataset.loc[dataset.Age.isnull(),"Age"]=average
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
dataset.value_counts(dataset.Embarked)

Embarked
S    644
C    168
Q     77
dtype: int64

In [ ]:
dataset.loc[dataset.Embarked.isnull(),"Embarked"]="S"
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
dataset.duplicated().any()

False

In [ ]:
dataset.loc[dataset["Cabin"].isnull(),"Cabin"]="No cabin"
dataset.head()

   PassengerId  Survived  Pclass                                         Name     Sex   Age  SibSp  Parch      Ticket     Fare     Cabin Embarked
0          343         0       2                   Collander, Mr. Erik Gustaf    male  28.0      0      0      248740  13.0000  No cabin        S
1           76         0       3                      Moen, Mr. Sigurd Hansen    male  25.0      0      0      348123   7.6500     F G73        S
2          641         0       3                       Jensen, Mr. Hans Peder    male  20.0      0      0      350050   7.8542  No cabin        S
3          568         0       3  Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0      4      349909  21.0750  No cabin        S
4          672         0       1                       Davidson, Mr. Thornton    male  31.0      1      0  F.C. 12750  52.0000       B71        S

In [ ]:
# @title replacing survived values by 0 and 1
survived_replacements={"No":0,"Yes":1}
dataset['Survived']=dataset['Survived'].replace(survived_replacements)
dataset.head()

   PassengerId  Survived  Pclass                                         Name     Sex   Age  SibSp  Parch      Ticket     Fare  Cabin Embarked
0          343         0       2                   Collander, Mr. Erik Gustaf    male  28.0      0      0      248740  13.0000    NaN        S
1           76         0       3                      Moen, Mr. Sigurd Hansen    male  25.0      0      0      348123   7.6500  F G73        S
2          641         0       3                       Jensen, Mr. Hans Peder    male  20.0      0      0      350050   7.8542    NaN        S
3          568         0       3  Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0      4      349909  21.0750    NaN        S
4          672         0       1                       Davidson, Mr. Thornton    male  31.0      1      0  F.C. 12750  52.0000    B71        S

In [ ]:
# @title Replacing embarked values
embarked_replacements={
    "S":0,
    "C":1,
    "Q":2}
dataset["Embarked"].replace(embarked_replacements,inplace=True)
dataset.head()

   PassengerId  Survived  Pclass                                         Name     Sex   Age  SibSp  Parch      Ticket     Fare     Cabin  Embarked
0          343         0       2                   Collander, Mr. Erik Gustaf    male  28.0      0      0      248740  13.0000  No cabin         0
1           76         0       3                      Moen, Mr. Sigurd Hansen    male  25.0      0      0      348123   7.6500     F G73         0
2          641         0       3                       Jensen, Mr. Hans Peder    male  20.0      0      0      350050   7.8542  No cabin         0
3          568         0       3  Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0      4      349909  21.0750  No cabin         0
4          672         0       1                       Davidson, Mr. Thornton    male  31.0      1      0  F.C. 12750  52.0000       B71         0

In [ ]:
# @title Extracting title feature from name
Title_Dictionary = {
    "Capt": "Officer",
    "Col": "Officer",
    "Major": "Officer",
    "Jonkheer": "Royalty",
    "Don": "Royalty",
    "Sir" : "Royalty",
    "Dr": "Officer",
    "Rev": "Officer",
    "the Countess":"Royalty",
    "Mme": "Mrs",
    "Mlle": "Miss",
    "Ms": "Mrs",
    "Mr" : "Mr",
    "Mrs" : "Mrs",
    "Miss" : "Miss",
    "Master" : "Master",
    "Lady" : "Royalty"
}
dataset['Title'] = dataset['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())

dataset['Title'] = dataset.Title.map(Title_Dictionary)
dataset

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch      Ticket     Fare     Cabin  Embarked Title
0            343         0       2                         Collander, Mr. Erik Gustaf    male  28.0      0      0      248740  13.0000  No cabin         0    Mr
1             76         0       3                            Moen, Mr. Sigurd Hansen    male  25.0      0      0      348123   7.6500     F G73         0    Mr
2            641         0       3                             Jensen, Mr. Hans Peder    male  20.0      0      0      350050   7.8542  No cabin         0    Mr
3            568         0       3        Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0      4      349909  21.0750  No cabin         0   Mrs
4            672         0       1                             Davidson, Mr. Thornton    male  31.0      1      0  F.C. 12750  52.0000       B71         0    Mr
..           ...       ...     ...                                                ...     ...   ...    ...    ...         ...      ...       ...       ...   ...
886           10         1       2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0      237736  30.0708  No cabin         1   Mrs
887           61         0       3                              Sirayanian, Mr. Orsen    male  22.0      0      0        2669   7.2292  No cabin         1    Mr
888          535         0       3                                Cacic, Miss. Marija  female  30.0      0      0      315084   8.6625  No cabin         0  Miss
889          102         0       3                   Petroff, Mr. Pastcho ("Pentcho")    male  29.0      0      0      349215   7.8958  No cabin         0    Mr
890          428         1       2  Phillips, Miss. Kate Florence ("Mrs Kate Louis...  female  19.0      0      0      250655  26.0000  No cabin         0  Miss

[891 rows x 13 columns]